[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
pyaudio = "*"
pymongo = "*"
speechrecognition = "*"
coverage = "*"
pytest = "*"
flask = "*"

[dev-packages]

[requires]
