[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
pyaudio = "*"
pymongo = "*"
speechrecognition = "*"
coverage = "*"
pytest = "*"
flask = "*"
flask-pymongo = "*"
colorama = "*"
pytest-flask = "*"
pydub = "*"
soundfile = "*"
numpy = "*"
ffmpeg = "*"
ffmpeg-python = "*"
ffprobe = "*"

[dev-packages]
speechrecognition = "*"

[requires]
